@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
}

body {
  --black: #202024;
  --gray: #e1e1e6;
  color: var(--gray);
  background-color: var(--gray);
}

main {
  max-width: 375px;
  height: 812px;
  background-image: url(imagens/background.svg);
  background-size: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 0px;
}

main #avatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  margin-bottom: 2rem;
}

main #avatar img {
  width: 100%;
}

main #informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

main #informations a {
  display: flex;
  gap: 0.5rem;
  color: var(--gray);
}

main #about {
  margin-bottom: 2rem;
  text-align: center;
}

main #links {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 400px) {
  main {
    margin: 5rem auto;
  }
}
